.search-field {
    -fx-padding: 10 40 10 40; /* Augmentez le padding gauche pour décaler le texte vers la droite */
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: #E8E8E8;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.1, 0, 1);
}

.search-field:focused {
    -fx-background-color: #FFFFFF;
}

.search-field:hover {
    -fx-background-color: #F0F0F0;
}
.pad{
    -fx-padding: 0,10,0;
}
.table-view {
    -fx-base: #F0F0F0;
}

.table-row-cell {
    -fx-background-color: #FAFAFA;
    -fx-border-color: #D0D0D0;
    -fx-table-cell-border-color: #D0D0D0;
}

.button {
    -fx-background-color: #ffffff, #E0E0E0, #EEEEEE;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5;
    -fx-padding: 3 5 3 5;
}

.button:hover {
    -fx-background-color: #ffffff, #380e6b, #EEEEEE;
}
.root {
    -fx-font-family: 'Muli', sans-serif;
}

.text {
    -fx-background-color: #E8E8E8;
    -fx-border-width: 2 2 2 2;
    -fx-border-color:  #380e6b ;
    -fx-padding: 5px 5px;
    -fx-border-radius: 3;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15;

}



.buttonn {
    background-color: #cc0251;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.button-1:hover,focuus {
    -fx-background-color: #F082AC;
}


.heading {
    -fx-font-size: 24px;
    -fx-text-fill: #333333;
}

.label {
    -fx-text-fill: #666666;
}

.text-field, .text-area, .list-view {
    -fx-border-color: #BDBDBD;
}

.primary-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.primary-button:hover {
    -fx-background-color: #1976D2;
}
